[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/server/Desktop/kitty.desktop]
row=1
col=1

[/home/server/Desktop/com.obsproject.Studio.desktop]
row=3
col=0

[/home/server/Desktop/firefox-esr.desktop]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/server]
row=0
col=1

