[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/debian/Desktop/math.cpp]
row=4
col=0

[/home/debian/Desktop/week_2]
row=0
col=1

[/home/debian/Desktop/VBoxLinuxAdditions.run]
row=2
col=1

[/home/debian/Desktop/kitty.desktop]
row=3
col=0

[/home/debian/Desktop/math.cpp DOCUMENT]
row=6
col=0

[2023-07-12-19-24-46-08]
row=1
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/debian]
row=2
col=0

